{%- set page_title = page_title|default(false) -%}
{% block all %}<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}><!--<![endif]-->
{% block head_outer %}
    <head {{bp_head_attributes|default('')|raw}}>
        {% block head %}
        {% block head_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block head_meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block head_meta_keywords %}{% endblock %}">
        {% block head_meta_viewport_tag %}<meta name="viewport" content="{% block head_meta_viewport_tag_content %}width=device-width, initial-scale=1{% endblock %}">{% endblock %}
        {% endblock head_meta %}
        <title>{% if page_title %}{{ page_title }} | {% endif %}{{ "site_name"|trans() }}</title>
        {% block head_css %}
            {% stylesheets
                '@RenegadeCarImpactBundle/Resources/assets/generated/css/screen.css' %}
                <link rel="stylesheet"  href="{{ asset_url }}" >
            {% endstylesheets %}
        {% endblock %}

        {% block head_js %}
        {% endblock %}
        {% endblock head %}
        <script type="text/javascript">
            window.carImpactSettings = {
                apiPath: "{{ path('renegade_car_impacty_api_index') }}"
            };
        </script>
    </head>
{% endblock head_outer %}
{% block body_outer %}
    <body {{bp_body_attributes|default('')|raw}}>
    {% block body %}
        {% block body_chromeframe %}
            <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        {% endblock body_chromeframe %}
        {%block body_container%}
            <div class="page-container">
                <header>
                    {{ include('RenegadeCarImpactBundle:Region:header.html.twig') }}
                </header>
                <div class="main" role="main">
                    {% block body_container_main %}{% endblock %}
                </div>
                <footer>
                    {{ include('RenegadeCarImpactBundle:Region:footer.html.twig') }}
                </footer>
            </div>
        {%endblock body_container%}
        {% block body_js %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            {% javascripts '@RenegadeCarImpactBundle/Resources/assets/bower/jquery/dist/jquery.js' %}
            <script>window.jQuery || document.write('<script src="{{ asset_url }}"><\/script>')</script>
            {% endjavascripts %}
            {% javascripts
                '@RenegadeCarImpactBundle/Resources/assets/bower/bootstrap/js/collapse.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/underscore/underscore.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/backbone/backbone.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/views/app-view.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/views/vehicle-view.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/views/vehicle-select-view.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/models/vehicle.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/models/make.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/models/model.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/models/model-year.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/collections/makes.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/collections/vehicles.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/collections/vehicles-filtered.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/collections/models.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/collections/model-years.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/backbone/app.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/select2/select2.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/tinysort/dist/jquery.tinysort.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/sorting.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/tweenMax/src/minified/TweenMax.min.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/superscrollorama/js/jquery.lettering-0.6.1.min.js'
                '@RenegadeCarImpactBundle/Resources/assets/bower/superscrollorama/js/jquery.superscrollorama.js'
                '@RenegadeCarImpactBundle/Resources/assets/js/infographic.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock body_js %}
    {% endblock body %}
    </body>
{% endblock body_outer %}
</html>{% endblock all %}