{% extends 'RenegadeCarImpactBundle::base.html.twig' %}

{% block body_container_main %}
    <section id="vehicle-app">
        <section id="vehicle-select">
            <div class="select-form">
                <div class="form-group">
                    <select id="make-entry" class="form-control select2-choice" tabindex="1">
                        <option value="0">{{ "choose_make"|trans }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="model-entry" class="form-control select2-choice" tabindex="2">
                        <option value="0">{{ "choose_model"|trans }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="year-entry" class="form-control" tabindex="3">
                        <option value="0">{{ "choose_year"|trans() }}</option>
                    </select>
                </div>

                <button href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</button>
            </div>

            <div>
                <ul id="vehicle-select-list">

                </ul>
            </div>

        </section>

        <div class="hamburger" tabindex="0">
                <span class="menu">
                    <span class="glyphicon glyphicon-search"></span> Sort
                </span>

            <menu type="list" class="push-golden">
                <div class="btn-group-vertical filters-container">
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-city-mpg" data-sort-order="none">{{ "Fuel Economy (City MPG)"|trans }} <span class="glyphicon glyphicon-tower"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-highway-mpg" data-sort-order="none">{{ "Fuel Economy (Highway MPG)"|trans }} <span class="glyphicon glyphicon-road"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-transmission" data-sort-order="none">{{ "Transmission Type"|trans }} <span class="glyphicon glyphicon-cog"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-fuel" data-sort-order="none">{{ "Fuel Type"|trans }} <span class="glyphicon glyphicon-fire"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-emissions" data-sort-order="none">{{ "Emissions"|trans }} <span class="glyphicon glyphicon-tree-conifer"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-year" data-sort-order="none">{{ "Year"|trans }} <span class="glyphicon glyphicon-calendar"></span></button>
                    <button type="button" class="btn btn-default filter" data-sort-attr="data-engine-size" data-sort-order="none">{{ "Engine Size"|trans }} <span class="glyphicon glyphicon-filter"></span></button>

                </div>
            </menu>
        </div>

        <section id="vehicle-listing">

            <ul id="vehicle-list">

                <!-- Dummy Data -->
                <li class="vehicle sortable" data-highway-mpg="13" data-city-mpg="15" data-transmission="AS" data-fuel="X" data-year="2014" data-engine-size="3.0">
                        <span class='id'>2014</span>
                        <span>Car 1</span>
                        <span>6 Cylinders, Engine Size 3.0</span>
                        <span>City MPG: 15</span>«
                        <span>Highway MPG: 13</span>«
                </li>

                <li class="vehicle sortable" data-highway-mpg="14" data-city-mpg="16" data-transmission="BS" data-fuel="Y" data-year="2013" data-engine-size="4.0">
                        <span class='id'>2013</span>
                        <span>Car 2</span>
                        <span>6 Cylinders, Engine Size 4.0</span>
                        <span>City MPG: 16</span>«
                        <span>Highway MPG: 14</span>«
                </li>

                <li class="vehicle sortable" data-highway-mpg="12" data-city-mpg="10" data-transmission="CS" data-fuel="W" data-year="2010" data-engine-size="2.0">
                        <span class='id'>2010</span>
                        <span>Car 3</span>
                        <span>6 Cylinders, Engine Size 2.0</span>
                        <span>City MPG: 10</span>«
                        <span>Highway MPG: 12</span>«
                </li>

                <li class="vehicle sortable" data-highway-mpg="9" data-city-mpg="8" data-transmission="AS" data-fuel="X" data-year="2009" data-engine-size="8.0">
                        <span class='id'>2009</span>
                        <span>Car 4</span>
                        <span>6 Cylinders, Engine Size 8.0</span>
                        <span>City MPG: 8</span>«
                        <span>Highway MPG: 9</span>«
                </li>

                <!-- //Dummy Data -->


            </ul>
        </section>
    </section>
    <script type="text/template" id="vehicle-select-template">
        <span><%- make.label %></span>
        <span><%- model.label %> <%- model.modifiers %></span>
        <span><%- cylinders %> {{ 'cylinder'|trans() }}, <%- engine_size %>L</span>
        <span>(<%- fuel_type_string %>, <%- transmission_type_string %>)</span>
        <button class="btn btn-success add-button"><span class="glyphicon glyphicon-plus"> Add</button>
    </script>
    <script type="text/template" id="vehicle-template">
        <div class="vehicle sortable" data-highway-mpg="<%- mileage.city.mpg %>">
            <span class='id'><%- year %></span>
            <span><%- make.label %></span>
            <span><%- model.label %> <%- model.modifiers %></span>
            <span><%- cylinders %>, <%- engine_size %></span>
            <span><%- fuel_type_string %></span>
            <span><%- transmission_type_string %></span>
            <span>City MPG: <%- mileage.city.mpg %></span>«
        </div>
    </script>
{% endblock %}
